// WIDTH
.w-80 {
    width: 80% !important;
}

.w-50 {
    width: 50% !important;
}

.w-45 {
    width: 45% !important;
}

.w-40 {
    width: 40% !important;
}

.w-300p {
    width: 300px !important;
}

// MAX WEIGHT
.mw-100 {
    max-width: 100px;
}

.mw-200 {
    max-width: 200px;
}

.mw-250 {
    max-width: 250px;
}

.mw-310 {
    max-width: 310px;
}

.mw-420 {
    max-width: 420px;
}

.mw-480 {
    max-width: 480px;
}

.mw-620 {
    max-width: 620px;
}

.mw-630 {
    max-width: 630px;
}

.mw-640 {
    max-width: 640px;
}

.mw-760 {
    max-width: 760px;
}

.mw-840 {
    max-width: 840px;
}

.mw-940 {
    max-width: 940px;
}

.mw-960 {
    max-width: 960px;
}

.mw-1020 {
    max-width: 1020px;
}

.mw-1200 {
    max-width: 1200px;
}

.right-0 {
    right: 0;
}

// FONT SIZE
.font-10 {
    font-size: 10px !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-15 {
    font-size: 15px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.font-19 {
    font-size: 19px !important;
}


.font-22 {
    font-size: 22px !important;
}

.font-23 {
    font-size: 23px !important;
}

// FONT WEIGHT
.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}


.fs-italic {
    font-style: italic;
}


.form-text {
    color: #2A4B5D;
}

.text-dark {
    color: #1c466e !important;
}

// BACKGROUND COLOR
.bg-primary {
    background-color: $primary80 !important;
    color: #fff;
}

.bg-info,
.bg-primary-60 {
    background-color: $primary60 !important;
    color: $font0;
}


.bg-primary-95 {
    background-color: $primary95 !important;
    color: #fff;
}

.bg-secondary {
    background-color: $primary40 !important;
    color: $primary80;
}

.bg-success {
    background-color: #DAF8F0 !important;
    color: #35AA8E;
}

.bg-light {
    background-color: #F2F7FB !important;
    color: $font0;
}

// TEXT COLOR
.text-primary {
    color: $primary80 !important;
}

.text-success {
    color: #35AA8E !important;
}

.text-light {
    color: $font4 !important;
}

.text-white {
    color: #fff !important;
}

