
//============================================================================================================================
//calendar

.flatpickr-calendar {
    background: $primary20;
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.1);
}


.flatpickr-day{
    font-size: 12px;
    color: #334E68;
    margin-top: 1px;
    margin-bottom: 1px;
}

.flatpickr-months {
    padding: 0px 16px;

    .flatpickr-prev-month,
    .flatpickr-next-month{
        svg{
            width: 8px;
            height: 8px;
            vertical-align: 6px;
        }
    }
}




.flatpickr-current-month {
    .flatpickr-monthDropdown-months{
        color: #334E68;
        text-align: right;
        appearance: none;
        -webkit-appearance: none;
        font-weight: 500;
        font-size: 15px;
        option{
            text-align: right;
        }
    }
}


.flatpickr-weekdays {
    margin-top: 13px;
    line-height: 20px;
    border-bottom: 1px solid rgba(217, 236, 253, 0.4);
}

span.cur-month {
    &:hover {
        background: $primary20;
    }
}
.flatpickr-current-month,
.flatpickr-current-month span.cur-month,
.flatpickr-current-month input.cur-year,
.flatpickr-weekdaycontainer span.flatpickr-weekday,
.dayContainer span.flatpickr-day {
    font-family: "Montserrat", sans-serif;
}
.flatpickr-current-month,
.flatpickr-current-month span.cur-month,
.flatpickr-current-month input.cur-year,
.flatpickr-current-month input.cur-year[disabled]{
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $font1;
    appearance: none;
    -webkit-appearance: none;

    &:hover {
        background: #fff;
        color: $font1;
        appearance: none;

        -webkit-appearance: none;
    }
}

.numInputWrapper{
    &:hover{
        background: #fff;
        span{
            display: none;
        }
    }
}

.dayContainer {
    margin-top: 15px;


    .flatpickr-day {
        font-weight: 500;
        font-size: 12px;
        color: $font1;



        &:hover,
        &.selected{
            background: $primary70;
            color: $primary20;
            border: 1px solid transparent;
        }

        &.today {
            background: $primary40;
            color: $primary80;
            border: none;
        }

        .flatpickr-weekday {
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #EB5D6E;
        }




        &.prevMonthDay,
        &.nextMonthDay{
            color: rgba(51, 78, 104, 0.2);

            &:hover {
                color: $primary20;
            }

            &.flatpickr-disabled,
            &.flatpickr-disabled:hover{
                color: rgba(51, 78, 104, 0.2) !important;
            }
        }

        &.flatpickr-disabled,
        &.flatpickr-disabled:hover{
            cursor: default;
            color: rgba(51, 78, 104, 0.5);
            background: #fff;
        }



    }
}



