.filter-block {
    position: relative;
    padding-right: 35px;
}

.filter-block-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 28px;
    line-height: 150%;
    color: #334e68;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    .svg-icon {
        transition: transform linear .1s;
    }

    &:hover {
        text-decoration: none;
        color: #334e68;
    }


}

.filter-block {
    &.collapsed {
        .filter-block-title {
            .svg-icon {
                transform: rotate(180deg);
            }
        }

    }


    .custom-check {
        label,
        .check-label {
            display: block;
            padding: 5px 15px;
            font-size: 12px;
            line-height: 18px;
        }
    }

    .chip {
        padding: 7px 18px;
        font-size: 12px;
        line-height: 18px;
        height: 32px;

        .close {
            width: 12px;
            height: 12px;
            margin-left: 8px;
            margin-right: -5px;
        }
    }
}

.filter-collapse {
    position: relative;
    margin-bottom: 15px;
}

.filter-collapse-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #334E68;
    margin-bottom: 10px;

    .svg-icon {
        transition: transform linear .1s;
    }

    &:hover {
        text-decoration: none;
        color: #334e68;
    }
}


.filter-collapse {
    &.collapsed {
        .filter-collapse-title {
            .svg-icon {
                transform: rotate(180deg);
            }
        }

    }
}

.filter-collapse-body {
    padding-left: 20px;
}

.candidate-search {
    .input-group-text {
        background-color: #439FF4;

        .svg-icon {
            path {
                fill: #fff;
            }
        }
    }

    &.active {
        .input-group-text {
            background-color: #56F0F0;

            .svg-icon {
                path {
                    fill: #334E68;
                }
            }
        }
    }
}
