.my-contacts {
   // .my-contacts__main
   &__main {
      display: flex;
   }
   // .my-contacts__info
   &__info {
      margin-top: 0px;
   }
}
.my-contacts-bg {
   padding-bottom: 47px;
   @include adaptiv-value("margin-bottom", 55, 35, 1);
}
.info-my-contacts {
   flex: none;
}

.icon-my-contacts {
   margin-top: 0;
   img {
      left: 44%;
      top: 27px;
      @media (max-width: 992px) {
         left: 46%;
         top: 26px;
      }
   }
   &::before {
      display: none;
   }
   margin-bottom: 20px;
}

.field-contacts {
   width: 100%;
}
.row-my-contacts {
   display: flex;
   justify-content: space-between;
}
label.col-my-contacts,
div.col-my-contacts {
   font-size: 24px;
   line-height: 48px;
   text-transform: uppercase;
   color: #2a4b5e;
   font-family: "Oswald", sans-serif;
   align-items: center;
   margin-top: -27px;
   @media (max-width: 768px) {
      margin-top: 0px;
   }
}
.col-value {
   position: relative;

   .form-control {
      padding: 16px 26px;
      input {
         font-family: "Montserrat", sans-serif;
         font-weight: 500;
         font-size: 16px;
         line-height: 28px;
         color: $font1;
      }

      &::placeholder {
         font-family: "Montserrat", sans-serif;
         font-weight: 500;
         font-size: 16px;
         line-height: 28px;
         color: #b1cfe8;
      }
   }
   p {
      @include adaptiv-font(15, 12, 1);
      line-height: 18px;
      color: $font4;
      margin-bottom: 0px;
   }
   img {
      position: absolute;
      top: 25%;
      left: 7%;
   }
}

input.input-my-contacts,
.my-contacts__resume {
   border: 1px solid #b1cfe8;
   border-radius: 8px;
   height: 48px;
   margin-bottom: 26px;
   @media (max-width: 992px) {
      left: 46%;
      top: 26px;
   }
}
.my-profile-text {
   position: absolute;
   bottom: 3px;
   left: 10px;
}
.position {
   @media (max-width: 1267px) {
      bottom: -13px;
   }
   @media (max-width: 992px) {
      bottom: 3px;
   }
   @media (max-width: 354px) {
      bottom: -13px;
   }
}
.my-contacts__resume {
   width: 100%;
   padding: 12px 12px 12px 7px;
}
.col-placeholder {
   .input-rezume {
      padding: 16px 56px;
   }
}

.row-mb-23 {
   margin-bottom: 23px;
}
.contacts-text {
   font-size: 15px;
   line-height: 24px;
   text-align: center;
   color: #2a4b5d;
   @media (max-width: 992px) {
      width: 70%;
      margin: 15px auto 0px auto;
   }
   @media (max-width: 768px) {
      width: 100%;
   }
}
input.input-m-0 {
   margin-bottom: 7px;
}
.input-bg {
   position: relative;
   button {
      &.close-contact {
         position: absolute;
         top: 21%;
         right: 5%;
      }
   }
   span {
      padding-left: 20px;
      &::before {
         content: "";
         width: 32px;
         height: 32px;
         background: $primary70;
         border-radius: 50%;
         padding: 7.5px 16px;
         z-index: 1;
         background-image: url("/images/icons/file.svg");
         background-position: 50%;
         background-repeat: no-repeat;
         margin-right: 5px;
      }
   }
   &.attached {
      span {
         &::before {
            content: "";
            width: 32px;
            height: 32px;
            background: $primary60;
            border-radius: 50%;
            padding: 7.5px 16px;
            z-index: 1;
            background-image: url("/images/icons/file-bl.svg");
            background-position: 50%;
            background-repeat: no-repeat;
            margin-right: 5px;
         }
      }
   }
}
