.page {
   // .page__offer
   &__offer {
      height: 100%;
      padding-bottom: 68px;
      background: linear-gradient(90deg, #00386b 65%, rgba(51, 78, 104, 0) 75.62%),
         url("/images/home-02.png") 100% 50% no-repeat;
      @media (max-width: 1800px) {
         background: linear-gradient(90deg, #00386b 50%, rgba(51, 78, 104, 0) 75.62%),
            url("/images/home-02.png") 100% 50% no-repeat;
      }
      @media (max-width: 1600px) {
         background: linear-gradient(90deg, #00386b 45%, rgba(51, 78, 104, 0) 75.62%),
            url("/images/home-02.png") 100% 50% no-repeat;
      }
      @media (max-width: 992px) {
         background: linear-gradient(90deg, #00386b 100%, rgba(51, 78, 104, 0) 75.62%);
      }
      @media (max-width: 500px) {
         background: linear-gradient(90deg, #00386b 100%, rgba(51, 78, 104, 0) 75.62%);
      }
   }
}
.offer-page {
   // .offer-page__image
   &__image {
      position: absolute;
      top: 0;
      right: 0;
      background: url("../../../images/bloks.png") 100% 50% no-repeat;
      z-index: -1;
   }
   // .offer-page__items
   &__items {
      display: flex;
   }
   // .offer-page__item
   &__item {
      flex: 0 0 50%;

      @media (max-width: 992px) {
         flex: 0 0 100%;
      }
   }
   // .offer-page__title
   &__title {
      @include adaptiv-value("margin-top", 108, 50, 1);
      font-family: "Oswald", sans-serif;
      @include adaptiv-font(64, 40, 1);
      text-transform: uppercase;
      color: $primary20;
      max-width: 450px;
      margin-bottom: 15px;
      line-height: 80px;
      @media (max-width: 992px) {
         line-height: 60px;
      }
   }
   // .offer-page__text
   &__text {
      color: #9cb8d3;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 43px;
      max-width: 520px;
      @include adaptiv-font(18, 16, 1);
      line-height: 28 / 18 * 100%;
   }
   // .offer-page__image
   &__image {
      width: 100%;
      height: 100%;
   }
}
.icons-offer {
   display: flex;
   align-items: center;
   @media (max-width: 500px) {
      flex-direction: column;
   }

   // .icons-offer__text
   &__text,
   &__email {
      color: $primary20;
      font-size: 14px;
      font-weight: 600;
      @media (max-width: 500px) {
         padding: 20px 0px;
      }
   }
   &__text {
      @media (max-width: 500px) {
         padding-bottom: 20px;
      }
   }
   &__email,
   &__or {
      @media (max-width: 500px) {
         padding-top: 20px;
      }
   }
   // .icons-offer__in
   &__in {
      background: $primary60;
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.270047 17.4799H4.01508V4.99741H0.270047V17.4799ZM14.8601 4.56503C13.0426 4.56503 11.4163 5.22877 10.2627 6.69383V4.95635H6.5039V17.4801H10.2627V10.7076C10.2627 9.27629 11.5739 7.88002 13.2164 7.88002C14.8589 7.88002 15.2639 9.27629 15.2639 10.6726V17.4788H19.009V10.3938C19.0088 5.47249 16.6789 4.56503 14.8601 4.56503ZM2.12506 3.74998C3.16007 3.74998 4.00012 2.90994 4.00012 1.87492C4.00012 0.839904 3.16007 0 2.12506 0C1.09004 0 0.25 0.840041 0.25 1.87506C0.25 2.91007 1.09004 3.74998 2.12506 3.74998Z' fill='%2301386B'/%3E%3C/svg%3E");
   }
   // .icons-offer__or
   &__or {
      color: #9cb8d3;
      margin: 0 10px;
   }
   // .icons-offer__em
   &__em {
      background: $primary70;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.60735 14C1.20274 14 0.85215 13.8677 0.554108 13.6066L5.6538 8.55824C5.77615 8.64497 5.89474 8.72931 6.00677 8.80951C6.38841 9.08784 6.69815 9.30504 6.936 9.46067C7.17381 9.61667 7.49022 9.77566 7.88519 9.938C8.28042 10.1005 8.64863 10.1815 8.9902 10.1815H9.0002H9.0102C9.3518 10.1815 9.72001 10.1006 10.1152 9.938C10.5104 9.77566 10.8268 9.61667 11.0644 9.46067C11.3022 9.30504 11.6118 9.08788 11.9936 8.80951C12.1 8.73229 12.218 8.64756 12.3456 8.55688L17.4463 13.6066C17.1483 13.8677 16.7975 14 16.3929 14H1.60735Z' fill='white'/%3E%3Cpath d='M16.9854 5.37932C17.367 5.12748 17.7054 4.83905 18 4.51416V12.1948L13.5052 7.74539C14.4044 7.12395 15.563 6.33617 16.9854 5.37932Z' fill='white'/%3E%3Cpath d='M1.00459 5.37932C2.37273 6.29599 3.53555 7.08513 4.49316 7.74717L0.000145435 12.195V4.51416C0.288218 4.83251 0.622989 5.12075 1.00459 5.37932Z' fill='white'/%3E%3Cpath d='M1.60746 0H16.393C16.9088 0 17.3054 0.172424 17.5832 0.516918C17.8612 0.861573 18 1.2926 18 1.80952C18 2.22706 17.8158 2.67947 17.4476 3.16689C17.0794 3.65411 16.6876 4.03681 16.2724 4.31518C16.0448 4.47437 15.3584 4.94674 14.2132 5.73213C13.595 6.1562 13.0573 6.52583 12.5953 6.8448C12.2015 7.11641 11.8619 7.35163 11.5815 7.54682C11.5494 7.56918 11.4987 7.60502 11.4315 7.65258C11.3592 7.70405 11.2676 7.76936 11.1545 7.85014C10.9369 8.00593 10.7561 8.13187 10.6122 8.22808C10.4684 8.32432 10.2941 8.43182 10.0898 8.55119C9.88555 8.6704 9.69293 8.76004 9.51215 8.81966C9.33133 8.87925 9.16394 8.90914 9.00995 8.90914H8.99995H8.98995C8.83599 8.90914 8.66857 8.87925 8.48772 8.81966C8.30697 8.76004 8.11452 8.67059 7.91014 8.55119C7.70595 8.43182 7.53196 8.32409 7.38771 8.22808C7.24372 8.13187 7.06294 8.00597 6.84529 7.85014C6.73251 7.76936 6.64091 7.70401 6.56852 7.65274C6.5013 7.60499 6.45071 7.56937 6.41832 7.54682C6.19989 7.39637 5.8595 7.16212 5.40184 6.84755C4.56909 6.2748 3.34268 5.43179 1.71743 4.31518C1.22864 3.97722 0.820267 3.56938 0.49206 3.09225C0.164444 2.61513 0.00019455 2.11464 0.00019455 1.59096C0.00019455 1.15343 0.159443 0.779048 0.477257 0.467229C0.795429 0.155797 1.1722 0 1.60746 0Z' fill='white'/%3E%3C/svg%3E");

   }
   &__or {
      @media (max-width: 500px) {
         padding-bottom: 20px;
      }
   }
   // .icons-offer__email
   &__email {
      text-decoration: none;
       display: inline-flex;
       align-items: center;
      &:hover {
         color: #9cb8d3;
      }
   }
   &__in,
   &__em {
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      padding: 7px 7px;
      width: 40px;
      height: 40px;
       display: inline-block;
      margin: 0 10px;
      &:hover {
         opacity: 60%;
      }
   }
}
