//Главный поиск вакансий на сайте
.main-vacancies {
   background: #06396a;
   opacity: 0.9;
   min-height: 169px;
   @media (max-width: 700px) {
      max-height: 100%;
   }
   // .main-vacancies__body
   &__body {
      display: flex;
      margin: 49px auto;
      justify-content: center;
      @media (max-width: 992px) {
         justify-content: flex-start;
         margin-left: 56px;
      }
      @media (max-width: 900px) {
         flex-direction: column;
      }
   }
   // .main-vacancies__title
   &__title {
      position: relative;
      display: flex;
      left: -80px;
      padding-right: 30px;
      border-right: 1px solid #376694;
      @media (max-width: 992px) {
         left: 0px;
      }
      @media (max-width: 900px) {
         border-right: none;
      }

      h2 {
         color: $primary20;
      }
      h1 {
         font-size: 48px;
         @media (max-width: 340px) {
            margin-left: -56px;
         }
      }
      &::before {
         content: "1345";
         position: absolute;
         top: 14px;
         left: -57px;
         width: 48px;
         height: 48px;
         background: $primary60;
         border-radius: 50%;
         padding: 14px 9px;
         margin-right: 0px;
         font-size: 14px;
         color: $font1;
         font-weight: 800;
         @media (max-width: 340px) {
            display: none;
         }
      }
   }
   // .main-vacancies__search
   &__search {
      display: flex;
      position: relative;
      left: 0px;
      @media (max-width: 992px) {
         left: 80px;
      }
      @media (max-width: 900px) {
         left: 0px;
      }
      span {
         align-self: center;
         color: $primary20;
         font-weight: 600;
         font-size: 16px;
         line-height: 28px;
         @media (max-width: 900px) {
            padding-top: 25px;
         }
      }
      &::before {
         content: "";
         position: absolute;
         top: 14px;
         left: -55px;
         width: 48px;
         height: 48px;
         border: 1px solid #376694;
         border-radius: 50%;
         background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M15.8037 14.8883L12.4468 11.5095C12.1634 11.8365 11.8582 12.1635 11.5312 12.4251L14.8882 15.8038C15.019 15.9346 15.1934 16 15.3459 16C15.4985 16 15.6729 15.9346 15.8037 15.8038C16.0653 15.564 16.0653 15.1498 15.8037 14.8883Z' fill='white'/%3E%3Cpath d='M12.534 11.5967C13.5586 10.376 14.1689 8.78473 14.1689 7.08447C14.1689 3.18258 10.9864 0 7.08447 0C3.18258 0 0 3.18258 0 7.08447C0 10.9864 3.18258 14.1689 7.08447 14.1689C8.80651 14.1689 10.376 13.5586 11.5967 12.534C11.9455 12.2507 12.2507 11.9455 12.534 11.5967ZM1.3079 7.08447C1.3079 3.90189 3.90189 1.3079 7.08447 1.3079C10.267 1.3079 12.861 3.90189 12.861 7.08447C12.861 10.267 10.267 12.861 7.08447 12.861C3.90189 12.861 1.3079 10.267 1.3079 7.08447Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
         background-repeat: no-repeat;
         background-position: 50%;
         padding: 10.9px 19px;
         @media (max-width: 700px) {
            left: -55px;
         }
      }
   }
}
.border-none {
   border-right: none;
}
.my-profile-vac {
   left: -30px;
   @media (max-width: 992px) {
      left: 0px;
   }
   @media (max-width: 900px) {
      border-right: none;
   }
   &::before {
      content: "12";
      padding: 14px 18px;
   }
}
.my-profile-sear {
   left: 55px;
   @media (max-width: 992px) {
      left: 80px;
   }
   @media (max-width: 900px) {
      left: 0px;
   }
}
//===========================================================================================================

input.input-border {
   border: 1px solid #b1cfe8;
   border-radius: 8px;
   background: rgba(240, 246, 251, 0.9);

   &::placeholder {
      color: #b1cfe8;
      font-size: 15px;
   }
   &:focus {
      background: rgba(240, 246, 251, 0.9);
   }
}
input.bg-none {
   background: none;
   &:focus {
      background: none;
   }
}
input.m-b-0 {
   margin-bottom: 10px;
}

div.m-b-0 {
   margin-bottom: 0px;
}
//===========================================================================================================
//Поиск страницы Создание профиля
.city-buttons {
   // .city-buttons__search
   &__search {
      width: 427px;
      margin-top: 5px;
      position: relative;
      margin-bottom: 15px;
      @media (max-width: 460px) {
         width: 100%;
      }

      input {
         border: 1px solid #b1cfe8;
         padding: 9px 40px;
      }
      img {
         position: absolute;
         top: 35%;
         left: 15px;
      }
   }
}
